<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="../static/css/aboutus.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
</head>
<body>
    <div id="header"></div>

    <div class="mainContainer">

        <div class="text-aboutus">
            <p>
                Nasza firma, specjalizująca się w podróżach kosmicznych, nieustannie dąży do tego, aby eksploracja kosmosu oraz podróże międzyplanetarne były dostępne dla każdego.
                Naszym głównym celem jest wspieranie ludzkości w przesuwaniu granic możliwości kosmicznych oraz w poszerzaniu naszej wiedzy o wszechświecie. Wierzymy, że podróże kosmiczne odgrywają kluczową rolę w ewolucji naszego gatunku i zobowiązujemy się do uczynienia ich bezpiecznymi, przystępnymi cenowo oraz zrównoważonymi. <br><br>

                Aby osiągnąć ten cel, opracowaliśmy najnowocześniejsze statki kosmiczne, wyposażone w zaawansowane technologie i sprzęt, takie jak systemy podtrzymywania życia, napędowe oraz komunikacyjne. Przeznaczyliśmy również znaczne środki na badania i rozwój, aby zapewnić, że nasze statki są przyjazne dla środowiska i generują minimalny wpływ na otaczającą przestrzeń.
                <br><br>

                Nasz zespół składa się z doświadczonych astronautów, naukowców oraz inżynierów, którzy pasjonują się eksploracją kosmosu. Wszyscy pracujemy wspólnie, aby zapewnić bezpieczeństwo i sukces każdej misji oraz kontynuować rozwój w dziedzinie eksploracji kosmosu poprzez innowacyjne badania.
                <br><br>

                Jesteśmy głęboko przekonani, że podróże kosmiczne powinny być dostępne dla każdego, dlatego zaangażowaliśmy się w ich realizację. Niezależnie od tego, czy interesuje Cię naukowe badania, kosmiczna turystyka, czy po prostu odkrywanie nieznanego, nasza firma stoi gotowa, aby pomóc Ci w spełnieniu Twoich marzeń.
            </p>
        </div>

        <img class="image-aboutus" src="../static/images/aboutus.jpg" alt="">

    </div>

    <div id="footer"></div>

    <script src="../static/script/headerANDfooter.js"></script>

</body>
</html>